.search-page-container {
  /* CSS styles for the search page container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  height: 100vh; /* Adjust height if needed */
}

.search-form {
  /* CSS styles for the search form */
  background-color: #FCEEE4;
  display: flex;
  padding: 20px;
  align-items: center; /* Center items horizontally */
  width: 20cm; /* Ensure full width */
}

.search-input {
  /* CSS styles for the search input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 1px; /* Add some spacing between input and button */
  width: 80%; /* Adjust width as needed */
}

.search-button {
  /* CSS styles for the search button */
  padding: 7px;
  border-radius: 30px;
  font-size: small;
  width: 20%; /* Adjust width to match input */
}

.icon-container {
  /* CSS styles for the icon container */
  position: fixed; /* Position the container relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
}

/* Styles for specific icons */
.search-icon,
.heart-icon,
.user-icon,
.cart-icon,
.home-icon {
  font-size: 24px;
  margin: 0 40px; /* Add some spacing between icons */
  cursor: pointer;
}


.matching-products {
  /* CSS styles for the container of matching products */
  display: flex;
  flex-wrap: wrap; /* Allow products to wrap to the next line */
  justify-content: center; /* Center products horizontally */
  margin-top: 20px; /* Add some spacing between search bar and products */
}

.product {
  /* CSS styles for individual product items */
  text-align: center;
  margin: 10px; /* Add some spacing between products */
}
