.search-page-container {
  /* CSS styles for the search page container */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
}

.search-form {
  /* CSS styles for the search form */
  background-color: #FCEEE4;
  display: flex;
  padding: 20px;
  align-items: center; /* Center items horizontally */
  width: 20cm; /* Ensure full width */
  border-radius: 30px;
}

.search-input {
  /* CSS styles for the search input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 1px; /* Add some spacing between input and button */
  width: 80%; /* Adjust width as needed */
}

.search-button[type="submit"] {
  background-color: #010e01;
  color: white;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
 width: 200px;
}
.search-button[type="submit"]:hover {
  background-color:#998272;
}

.search-button-text {
  color: white; /* Ensure text is white */

}

.icon-container {
  position: fixed; /* Position the container relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: flex;
}


/* Add this section to your styleS.css to apply the grid layout for matching products */
.matching-products {
  display: grid;
  grid-template-columns: 1fr; /* Default to one column for smaller screens */
  gap: 90px;
  padding: 20px;
}

@media (min-width: 768px) { /* Adjust breakpoint as needed */
  .matching-products {
    grid-template-columns: repeat(2, 1fr); /* Two columns for wider screens */
  }
}


.product {
  border: 1px solid #ddd;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  width: 200px;
}

.product:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}



.matching-products .product img {
  width: 100%; /* Image width fills the container */
  height: auto; /* Height adjusts to maintain aspect ratio */
  object-fit: cover; /* Covers the area, might crop the image */
  display: block;
  margin: auto;
}




.product p {
  margin: 19px;
  color: #333;
}


  .cart-button {
    justify-self: start; /* Aligns to the start (left) */
  }
  
  .fav-button {
    justify-self: end; /* Aligns to the end (right) */
  } /* Aligns to the start (left) */


.fav-button {
  justify-self: end; /* Aligns to the end (right) */
}


.cartAndFav {
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}





/* Adjust the CartHandler and FavoritesHandler button styles if necessary */


