/* HomePage.css SAHAR */
.Home {
  background-color: #FCEEE4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change from center to flex-start */
  height: 23vh;
  padding-top: 5px;
}

h1 {
  margin-top: 60; /* Remove default margin for h1 */
}

.categories-row {
  display: flex;
  justify-content: center;
  
  margin-bottom: 25px;
}

.category-container {
  cursor: pointer;
  text-align: center;
  margin: 0 25px;
}

.category-image {
  width: 100px;
  height: 100px;
}

.category-name {
  font-size: 16px;
  margin-top: 5px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: auto;
  

}

/* Styles for specific icons */
.search-icon,
.heart-icon,
.user-icon,
.cart-icon,
.home-icon {
  font-size: 24px;
  margin: 0 30px;
  cursor: pointer;
  display: block;
  color: #030303; /* Adjust the text color as needed */
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 16px; 
}
.search-icon :hover,
.heart-icon :hover,
.user-icon :hover,
.cart-icon :hover,
.home-icon :hover {
  color: #ff00aa;
}


