.product-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 90px; /* Adjust gap for visual separation */
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr); /* Two columns on wider screens */
    }
  }
  
  .product-item {
    border: 1px solid #ddd;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    flex-direction: column;
    background-color:#FCEEE4; 
    width: 200px;
    margin: auto;
    height: auto;
  }
  
  .product-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  
  .product-container.product-item img {
    width: 100%; /* Ensure image does not overflow its container */
    height: 150%;
    object-fit: cover;
    display: block;
    margin: auto;
  }
  
  .product-item p {
    
    color: #333;
    margin: 19px ;
  }















/* Adjusted button styles */
.favorite-button,
.favorite-button:focus,
.favorite-button:hover,
.favorite-button:active,
.cart-button,
.cart-button:focus,
.cart-button:hover,
.cart-button:active {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    color: black;
    display: flex; /* Ensure the button itself is flex to align the icon inside it, if needed */
}

/* New button container style */
.product-item .button-container {
    display: flex;
    justify-content: space-between; /* This will position the favorite button to the left and the cart button to the right */
    width: 100%; /* Ensure it spans the full width of the product-item */
}
