/* Reset default margin and padding */
html, body, h1, h2, h3, h4, h5, h6, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

body, html {
  /* Ensures that the body starts with no extra space and takes full viewport height */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

/* Main product container styles */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px 20px; /* Adjusted padding to provide spacing from the viewport edges */
  margin-top: 0; /* Ensures there's no extra space above the container */
}

@media (min-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr); /* Adjusts to four columns for larger screens */
  }
}

/* Product item styles */
.product-item {
  border: 1px solid #ddd;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content within each item */
  background-color: #FCEEE4;
  margin: auto;
  height: auto;
}

.product-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Image and paragraph styles within product items */
.product-container .product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}

.product-item p {
  color: #333;
  margin: 19px;
}

/* Button styles */
.favorite-button,
.favorite-button:focus,
.favorite-button:hover,
.favorite-button:active,
.cart-button,
.cart-button:focus,
.cart-button:hover,
.cart-button:active {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  color: black;
  display: flex;
}

/* Button container within product items */
.product-item .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
