/* ShopPage.css */
.shop-page {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  border: 1px solid #ddd;
  margin-top: 10px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-name {
  margin-right: 20px;
  font-weight: bold;
}

.product-price {
  margin-right: 20px;
}

.product-image {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.remove-button {
  background-color: #c7a294; /* Adjust background color to match cart style */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Consistent spacing for vertical layout */
}

.remove-button:hover {
  background-color: #d32f2f;
}

form {
  margin-bottom: 20px;
}

/* input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 5px 0;
  display: block;
  width: calc(100% - 22px);
} */
.input-shop{
  padding: 10px;
  margin: 5px 0;
  display: block;
  width: calc(100% - 22px);

}


button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
}
button[type="submit"]:hover {
  background-color: #45a049;
} 

