/* profileC.css */

/* Add a class for bigger icons */
.left-nav a .icon {
  font-size: 20px; /* Adjust the icon size as needed */
}

.main-container {
  margin-bottom:200px;
  max-width: 400px;
  margin: auto;
}

.left-nav {
  text-align: center;
  background-color: #FCEEE4;
  padding: 140px;
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(219, 3, 3, 0.1);
  margin-bottom: 20px;
}
customerleft-nav
.customerleft-nav {
  text-align: center;
  background-color: #FCEEE4;
  padding: 140px;
  border-radius: 70px;
  box-shadow: 0 0 10px rgba(219, 3, 3, 0.1);
  margin-bottom: 20px;
  
}

.left-nav a {
  display: block;
  color: #030303;
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 16px;
}

.left-nav a:hover {
  color: #000000;
}

.agent-preview:hover {
  background-color: #E0E0E0;
}

.agent-details {
  flex: 5;
  background-color: #FCEEE4;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.agent-details h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

.agent-details p {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.agent-details p strong {
  color: #555;
  font-weight: 600;
}
.heading-3{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

